.calendar {
  padding-top: 5px;
  position: relative;
  overflow: auto;
  width: 100%;
  .hour-container {
    width: 100%;
    height: 6em;
    color: $grayLight;
    border-top: 1px solid $grayLight;
    margin-left: 90px;
    .hour {
      color: $gray;
      position: relative;
      top: -12px;
      left: -60px;
    }
  }

  .booking {
    border-left: 3px solid $blue;
    background-color: rgba(mix($blue, $white, 20%), .9);
    position: absolute;
    left: 90px;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
  }

  .current-time-container {
    position: absolute;
    width: 100%;
    height: 3px;
    border-top: 1px solid $red;
    margin-left: 105px;
    ::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -1.4em;
      width: .8em;
      height: .8em;
      background: $red;
      border-radius: .8em;
    }
    .current-time {
      color: $red;
      position: relative;
      top: -12px;
      left: -97px;
    }
  }

}

#room-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .room-header, .room-footer {
    color: $white;
    flex: 0 0 auto;
    padding: 10px 10px 0 10px;

    &.booked {
      background-color: $red;
    }
    &.free {
      background-color: $green;
    }
  }

  .room-details {
    flex: 1 1 auto;
    display: flex;

    .calendar-wrapper {
      flex: 1 1 1em;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      .booking-status {
        text-align: center;
        flex: 0 0 auto;
        height: 100px;
      }
    }

    .tabs {
      display: flex;
      flex-direction: column;
      .tab-buttons {
        flex: 0 0 auto;
        display: flex;
        .button {
          flex: 1 1 1em;
        }
      }

      .tab-content {
        flex: 1 1 auto;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
      }
    }

  }
}

.attendees {
  .attendee {
    margin-left: 1.5em;
    position: relative;
    .attendee-status {

      &.accepted {
        &::before {
          background-color: $green;
        }
      }

      &.needsAction {
        &::before {
          background-color: $grayLight;
        }
      }

      &.declined {
        &::before {
          background-color: $red;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -1.5em;
        width: 1em;
        height: 1em;
        border-radius: 1em;
      }
    }
  }
}