.fa-bars {
  cursor: pointer;
}

.navbar {
  background-color : $color-primary;
  a {
    color : $color-button-text-primary !important;
    &:hover {
      background-color: lighten($color-primary, 10%);
    }
  }
}